
<div>
    <h2>Me contacter</h2>
    <p>Vous pouvez me contacter via ce <b>formulaire</b>, ou utilisez directement mes <b>informations de contact au-dessus</b>.</p>
    <div class="uk-margin-large-top" uk-grid>
        <div class="uk-width-2-3">
            <form class="uk-grid-small" action="#" uk-grid>
                <legend class="uk-legend">Formulaire de contact</legend>

                <div class="uk-width-1-2">
                    <input class="uk-input" type="text" placeholder="Votre nom">
                </div>

                <div class="uk-width-1-2">
                    <input class="uk-input" type="text" placeholder="Votre prénom">
                </div>

                <div class="uk-width-1-1">
                    <input class="uk-input" type="text" placeholder="Objet">
                </div>

                <div class="uk-width-1-1">
                    <textarea class="uk-textarea" rows="5" placeholder="Votre message"></textarea>
                </div>

                <div class="uk-width-1-2 um-margin-auto-left">
                    <input class="uk-button uk-button-secondary" type="submit" value="Envoyer">
                </div>
            </form>
        </div>
    </div>
</div>