
<div>
    <h2>Qui suis-je ?</h2>
    <p>Je m'appelle Benjamin, j'ai 24 ans, et je suis à la recherche d'une entreprise, pour une alternance en tant que développeur web, afin d'intégrer un Master de développement web et mobile.</p>

    <form action="">
    
    </form>
</div>