
<div>
    <h2 class="uk-text-center uk-text-left@s">Intrigué ?</h2>
    <p class="uk-text-center uk-text-left@s">Gardez un souvenir de votre passage en téléchargeant mon CV au format PDF.</p>
    <p class="uk-text-center uk-text-left@s"><a target="_blank" href="/uploads/files/cv.pdf" class="uk-button uk-button-primary">Télécharger mon CV</a></p>
</div>