<div>
    <h2 class="uk-text-center uk-text-left@s">Bonjour cher visiteur !</h2>
    <h3 class="uk-text-center uk-text-left@s">Bienvenue sur mon site internet ! C'est avec plaisir que je vous invite à découvrir mon profil, mon parcours et mes réalisations.</h3>
    <div class="uk-child-width-1-2@s uk-child-width-1-1 uk-margin-large-top" uk-grid >
        <div>
            <div class="uk-card uk-card-small uk-card-secondary">
                <a data-controller="tab" data-target="tab-profil" href="#" uk-switcher-item="1">
                    <div class="uk-card-body uk-flex uk-flex-around uk-flex-middle">
                        <span class="uk-visible@s uk-text-white" uk-icon="icon: arrow-right; ratio: 2"></span>
                        <h4 class="uk-text-center uk-margin-remove">Découvrir mon profil</h4>
                    </div>
                </a>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-small uk-card-secondary">
                <a data-controller="tab" data-target="tab-realisations" href="#" uk-switcher-item="2">
                    <div class="uk-card-body uk-flex uk-flex-around uk-flex-middle">
                        <span class="uk-visible@s uk-text-white" uk-icon="icon: arrow-right; ratio: 2"></span>
                        <h4 class="uk-text-center uk-margin-remove">Découvrir mes réalisations</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>