{% extends "base.html.twig" %}

{% block title %}Accueil - Benjamin Alerte{% endblock %}

{% block body %}

<div class="uk-section">
    <div class="uk-container">
        <div class="uk-flex uk-flex-right">
            <ul class="uk-subnav uk-subnav-pill" uk-switcher>
                <li><a href="#">Profil</a></li>
                <li><a href="#">Réalisations</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Mon CV</a></li>
            </ul>
        </div>
        <ul class="uk-switcher uk-margin">
            <li>Hello!</li>
            <li>Hello again!</li>
            <li>Bazinga!</li>
            <li>Bazinga 2!</li>
        </ul>
    </div>
</div>

{% endblock %}