
<div>
    <h2>Qui suis-je ?</h2>
    <h4>Je m'appelle Benjamin, j'ai 24 ans, et je suis actuellement développeur et intégrateur Web chez wiwacom.<br><br>
    <b>J'adore</b> m'armer de ma matière grise pour résoudre des problèmes, rechercher des solutions. C'est pourquoi j'ai fait, après obtention de mon bac, deux ans en licence de Mathématiques. J'ai adoré, mais je ne voyais pas quoi faire ensuite. J'ai alors découvert les joies de la programmation.</h4>
</div>