
<div>
    <h2 class="uk-text-center uk-text-left@s">Mon profil</h2>

    <div class="uk-width-1-1 uk-margin-medium">
        <h3 class="uk-text-bold uk-heading-line uk-text-center uk-text-left@s"><span>Qui suis-je ?</span></h3>
    
        <p class="uk-text-center uk-text-left@s">Je m'appelle <b>Benjamin</b>, j'ai <b>24 ans</b>, et je suis actuellement développeur et intégrateur Web chez <b>wiwacom</b>.<br><br>
            <b>Ce que j'aime, c'est réfléchir :</b> c'est affronter des problèmes, trouver des solutions, dans une démarche de recherche, tout en essayant d'apprendre quelque chose.<br><br>
            C'est pourquoi j'ai fait, après obtention de mon bac, deux ans en licence de Mathématiques. J'ai adoré, mais je ne voyais pas quoi faire ensuite. J'ai alors découvert les joies de la <b>programmation,</b> appliquée dans le web. Le rapport entre les Mathématiques et la programmation, c'est la réflexion algorithimique, et <b>c'est ce qui me passionne.</b><br><br>
            Je me suis alors dirigé vers la <b>licence professionnelle de développement web</b>, à l'IUT de Haguenau. 
        </p>
    </div>

    <div class="uk-width-1-1 uk-margin-medium">
        <h3 class="uk-text-bold uk-heading-line uk-text-center uk-text-left@s"><span>Mon projet</span></h3>
    
        <p class="uk-text-center uk-text-left@s">Une fois mon <b>bac+3 validé</b>, j'ai continué en CDI à wiwacom, l'enterprise où j'ai fait mon alternance pendant la licence professionnelle.<br>
        Cependant, ma <b>soif d'apprendre de nouvelles choses</b> n'a pas été apaisée : j'ai donc pour projet d'intégrer un <b>Master en Développement web et mobile.</b></p>
    </div>
    
    <div class="uk-width-1-1 uk-margin-medium">
        <h3 class="uk-text-bold uk-heading-line uk-text-center uk-text-left@s"><span>Mes compétences web</span></h3>
    
        <ul class="uk-list">
            <li class="uk-text-center uk-text-left@s"><b>Langages de programmation :</b><br class="uk-hidden@s">
                <span class="uk-label uk-margin-left">HTML 5</span>
                <span class="uk-label uk-margin-left">CSS 3</span>
                <span class="uk-label uk-margin-left uk-position-relative">JS<span class="uk-position-absolute heart-marker" uk-icon="heart"></span></span>
                <span class="uk-label uk-margin-left uk-position-relative">PHP 7<span class="uk-position-absolute heart-marker" uk-icon="heart"></span></span>
                <span class="uk-label uk-margin-left">TS</span>
                <span class="uk-label uk-margin-left">SCSS</span>
            </li>

            <li class="uk-text-center uk-text-left@s uk-margin-top uk-margin-remove-top@s"><b>Technologies web :</b><br class="uk-hidden@s">
                <span class="uk-label uk-margin-left uk-position-relative">MVC<span class="uk-position-absolute heart-marker" uk-icon="heart"></span></span>
                <span class="uk-label uk-margin-left uk-position-relative">Symfony<span class="uk-position-absolute heart-marker" uk-icon="heart"></span></span>
                <span class="uk-label uk-margin-left uk-position-relative">React JS<span class="uk-position-absolute heart-marker" uk-icon="heart"></span></span>
                <span class="uk-label uk-margin-left">Wordpress</span>
                <span class="uk-label uk-margin-left">Node JS</span>
                <span class="uk-label uk-margin-left">Bootstrap 4 & 5</span>
                <span class="uk-label uk-margin-left uk-position-relative">UIkit 3<span class="uk-position-absolute heart-marker" uk-icon="heart"></span></span>
            </li>
            
            <h4 class="uk-margin-medium-top uk-text-center uk-text-left@s">Les technologies marquées par un <span class="heart-marker" uk-icon="heart"></span> sont celles que j'utilise le mieux, et qui me plaisent le plus.</h4>
        </ul>   
    </div>
</div>