<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Title missing{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <script>
           function onSubmit(token) {
             document.getElementById("login-form").submit();
            }
        </script>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
        {% endblock %}

        <div class="uk-section uk-background-secondary" uk-height-viewport="expand: true">
            <div class="uk-container">
                {% block body %}
                    
                {% endblock %}
            </div>
        </div>

        {% block footer %}
        {% endblock %}
    </body>
</html>
