<footer class="uk-box-shadow-large">
    <div class="uk-section uk-section-secondary uk-section-small">
        <div class="uk-container">
            <p class="uk-text-center">
                Site réalisé par <b>Benjamin Alerte</b> et développé sous <b>Symfony 5</b> et <b>UIkit 3</b>
            </p>
        </div>
    </div>
</footer>