<header class="uk-box-shadow-large">
    <div class="uk-section uk-section-secondary uk-section-small">
        <div class="uk-container uk-margin-top">
            <h1 class="uk-margin-remove uk-animation-slide-left uk-text-center uk-text-left@s">BENJAMIN <span class="uk-text-muted">ALERTE</span></h1>
            <h3 class="uk-text-muted uk-margin-remove uk-animation-slide-left uk-text-center uk-text-left@s">DÉVELOPPEUR WEB</h3>

            <div class="uk-flex-between" uk-grid>
                <div class="uk-margin-medium-top uk-animation-slide-left uk-margin-auto uk-margin-remove-left@s" style="margin-bottom: -150px">
                    <div class="uk-background-primary uk-box-shadow-large" style="width: 256px; height: 256px; border: 2px white solid">
                        <img src="/uploads/images/portrait.jpg" class="uk-height-1-1 uk-width-1-1" style="object-fit: cover" />
                    </div>
                    <div class="uk-margin-xlarge-top uk-margin-large-bottom uk-hidden@s">
                        &nbsp;
                    </div>
                </div>
                <div class="uk-margin-medium-top uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-animation-slide-right">
                    <div class="uk-flex-middle" uk-grid>
                        <div class="uk-width-1-6@s uk-width-1-1 uk-flex uk-flex-center"><span class="uk-text-white" uk-icon="icon: receiver; ratio: 2"></span></div>
                        <div class="uk-width-5-6@s uk-width-1-1 uk-text-center uk-text-left@s">
                            <h5 class="uk-margin-remove uk-text-bold">Téléphone</h5>
                            <a class="uk-text-small" href="tel:0612137356">06 12 13 73 56</a>
                            <hr style="border-color: white;" class="uk-margin-auto-left uk-margin-small-top uk-width-3-4 uk-width-1-1@s uk-margin-auto">
                        </div>

                        <div class="uk-width-1-6@s uk-width-1-1 uk-flex uk-flex-center uk-margin-small-top"><span class="uk-text-white" uk-icon="icon: mail; ratio: 2"></span></div>
                        <div class="uk-width-5-6@s uk-width-1-1 uk-text-center uk-text-left@s uk-margin-small-top">
                            <h5 class="uk-margin-remove uk-text-bold">Email</h5>
                            <a class="uk-text-small" href="mailto:contact@benjaminalerte.fr">contact@benjaminalerte.fr</a>
                            <hr style="border-color: white;" class="uk-margin-auto-left uk-margin-small-top uk-width-3-4 uk-width-1-1@s uk-margin-auto">
                        </div>

                        <div class="uk-width-1-6@s uk-width-1-1 uk-flex uk-flex-center uk-margin-small-top"><span class="uk-text-white" uk-icon="icon: location; ratio: 2"></span></div>
                        <div class="uk-width-5-6@s uk-width-1-1 uk-text-center uk-text-left@s uk-margin-small-top">
                            <h5 class="uk-margin-remove uk-text-bold">Adresse</h5>
                            <span class="uk-text-small uk-text-white">30 Boulevard Hanauer, 67500 Haguenau</span>
                            <hr style="border-color: white;" class="uk-margin-auto-left uk-margin-small-top uk-width-3-4 uk-width-1-1@s uk-margin-auto">
                        </div>

                        {# <div class="uk-width-1-6 uk-margin-small-top"><span class="uk-text-white" uk-icon="icon: github; ratio: 2"></span></div>
                        <div class="uk-width-5-6 uk-margin-small-top">
                            <h5 class="uk-margin-remove">Git Hub</h5>
                            <a class="uk-text-small" href="https://github.com/benjaminalrt">https://github.com/benjaminalrt</a>
                            <hr style="border-color: white;" class="uk-margin-auto-left uk-margin-small-top">
                        </div> #}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>